.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
assets/*.svg
scripts/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
assets/screenshots/**
